body {
  
  background-size: cover;
  background-repeat: no-repeat;
  font-family: black ops one, Arial, Helvetica, sans-serif;
  background-color: black;
}

#gamefunctions{
  color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
  /* border: 1px solid red; */
  width:100%;
  height: 60px;
  font-size: 1.5vw;
 background-color: #181717;
}

#times, #scores{
  margin: 5px;
  background-color: rgb(44, 43, 43);
  color: rgb(255, 255, 255);
  width: 10%;
  /* border: 1px solid red;  */
  display: flex;
  justify-content: center;
}



pre {
 font-family: black ops one, Arial, Helvetica, sans-serif;
  text-wrap: wrap;
  font-size: 1.6em;
  text-wrap: wrap;
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  font-weight: 100;
  position: absolute;
  z-index: 1;
}

img{
  width: 12vw;

}

.imageclass {
  
  padding: 10px; /* adds some space around the image */
  transition: transform 0.3s ease; /* makes the image smoothly grow when hovered over */
}

.imageclass:hover {
  transform: scale(1.1); /* makes the image grow when hovered over */
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  justify-content: space-between;
  /* border: 5px solid red; */
  transform: translate(0vw,12vw);
}

.option {
  box-shadow: rgb(255, 0, 0) 0px 2px 5px -1px, rgb(255, 255, 255) 0px 1px 3px -1px;
  /* border: 1px solid green; */
  color: whitesmoke;
  margin-bottom: 1em;
  width: 10vw; /* Add some space between options */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
}


