body {
  background-image: url("assets/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#gamefunctions{
  color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid red;
}

pre {
  font-family:  Arial, Helvetica, sans-serif;
  text-wrap: wrap;
  font-size: 1.6em;
  text-wrap: wrap;
  color: rgb(230, 110, 18);
  letter-spacing: 5px;
  font-weight: 100;
  position: absolute;
  z-index: 1;
}

.answers {
  display: grid;
  place-items: center;
  /* height:50vh; */
}

.bottom-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* adjust as needed */
  justify-items: center;
  width: 200px; /* adjust as needed */
}
.answers img {
  width: 100px; /* adjust as needed */
  height: auto;
}

.tri-bottom {
  display: flex;
  gap: 20rem;
  margin-top: 10rem;

}

.ans1 {
  margin-top: 10rem;
  transition: all 0.5 ease-in-out;

}
.ans1:hover{
  width: 5rem;
  cursor: pointer;
}


.imageclass{
  z-index: 1000;
}