* {
    font-family: black ops one, Arial, Helvetica, sans-serif;
  }
body{
   color: whitesmoke;
}


#instr ul li {
    margin: 10px 0; 
}

#instr{
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#instr li {
    font-size: larger;
    line-height: 60px;
}


/* homebutton */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.home {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vw;
}


.home {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px; /* Changed from left to right */
    z-index: 0;
    border-radius: 10px;
  }
  
  
  .home:before { /* Corrected the selector */
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .home:active {
    color: #000
  }
  
  .home:active:after {
    background: transparent;
  }
  
  .home:hover:before {
    opacity: 1;
  }
  
  .home:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }